:root{
    --green:#2FE92B;
    --black:#0F0F0F;
    --yellow:#e1bb23;
    --red:#c92228;
    }
.product-page-main-container{
margin-top:4% ;
display: flex;
width: 100%;
direction: rtl;
align-items: center;
align-content: center;
justify-content: space-around;
}
.product-page-main-img{
    width: 30%;
    padding-top: 2%;
}
@media (max-width : 768px) and (orientation:portrait){
    .product-page-main-img{
        width:50%
    }
    }
.product-page-main-p{
color :var(--black);
font-size: 1.5vmax;
display: flex;
flex-direction: column;
width: 30%;
flex-wrap: wrap;
}
.product-page-comment-section-container{
    direction: rtl;
    display: flex;
    font-size: 1.5vmax;
    flex-direction: column;
    width: 100%;
}
.product-page-comment-section-container :nth-child(1){
    align-self: center;
    
}
.product-page-comment-container {
  width: 50%;
  align-self: center;
  border-radius: 10%;
  flex-wrap: wrap;
  display: flex;
  background-color: ivory;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.product-page-comment-answer{
    cursor: pointer;
}
.product-page-post-comment{
    direction: rtl;
}
.product-page-post-comment > textarea{
    display: block;
    font-size: 1.5vmax;
    color:black;
    width: 50%;
    margin-right: 25%;
    margin-top: 5%;
    height: 20vh;
}
.product-page-post-comment-send{
    background-color: var(--green);
    border:1px solid var(--green);
    color:white;
    font-size:1.5vmax;
    width: 10%;
    cursor: pointer;
    margin-right: 5%;
    margin-top: 1%;
}
.product-page-post-comment :nth-child(2)> input{
width: 20%;
font-size: 1.5vmax;
margin-right: 2%;
margin-top: 2%;
}
.product-page-post-comment :nth-child(2){
  
    font-size: 1.5vmax;
    margin-right: 20%;
    margin-top: 2%;
    }
.product-page-post-comment :nth-child(3)>input{
    width: 20%;
    font-size: 1.5vmax;
    margin-right: 2%;
    margin-top: 2%;
    }
    .product-page-post-comment :nth-child(3){
        font-size: 1.5vmax;
        margin-right: 7%;
        margin-top: 2%;
        }
      
