:root{
    --green:#2FE92B;
    --black:#0F0F0F;
    --yellow:#e1bb23;
    --red:#c92228;
    }
.product-page-main-container{
margin-top:4% ;
display: flex;
width: 100%;
direction: rtl;
align-items: center;
align-content: center;
justify-content: space-around;
}
.product-page-main-img{
    width: 30%;
    padding-top: 2%;
}
.product-page-main-p{
color :var(--black);
font-size: 1.5vmax;
display: flex;
flex-direction: column;
width: 30%;
flex-wrap: wrap;
}
.product-page-comment-container{
    direction: rtl;
    display: flex;
    font-size: 1.5vmax;
    flex-direction: column;
    width: 100%;
}
.product-page-comment-container :nth-child(1){
    align-self: center;
    
}
.product-page-comment-container :nth-child(2){
    border: 1px solid var(--black);
    width: inherit;
}
