.slider-wrapper {
    width: 97%;
    margin: auto;
    height: 100vh;
   
    
  }
  .slick-slide {
    direction: rtl;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .slick-slide:focus {
    outline: none;
  }
  
  
  .slick-slide-image {
    
    width: inherit;
    height: inherit;
    border-radius: 8px;
   
  }
  .slick-slide-label { 
    
    color: black;
    position: absolute;
    font-size: 4vmax;
    bottom: 0;
    left:0 ;
    bottom: 70%;
    left: 70%;
    padding-right: 5px;
   
    
   
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(115, 115, 121)
  }
  .slick-slide-label-2 { 
    color: black;
    position: absolute;
    font-size: 3vmax;
    bottom: 0;
    left:0 ;
    bottom: 20%;
    left:65%;
    padding-right: 5px;
    
  }
  .btn { 
    
    color: black;
    position: absolute;
    left: 35%;
    font-size: 3vmax;
    bottom: 20%;
    width: 20%;
    border : 3px solid black;
    border-radius: 40%;
    background-color: #2FE92B;
    
  } 
  .btn:hover{
  background-color: inherit;
  cursor: pointer;
  }