:root{
    --green:#2FE92B;
    --black:#0F0F0F;
    --yellow:#e1bb23;
    --red:#c92228;
    }
    * {
        box-sizing: border-box;
      }
   p{
       color:var(--black)
   }
.product-container{
    height: auto;
    direction: rtl;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 8%;
    padding-right: 2%;
    padding-left: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.item-container{
    width: 21%;
    padding-bottom: 5%;
    
}
.product-img{
width: 100%;
height: auto;
}
.shop-btn { 
    width: 50%;
    color: white;
    border:3px solid var(--green);
    font-size: 1.2vmax;
    background-color: var(--green);  
  } 
  .shop-btn:hover{
    background-color: inherit;
    color: var(--yellow);
    cursor: pointer;
  }

  .shop-footer-container{
      display: flex;
      direction: rtl;
      justify-content: space-between;
      align-content: center;
      align-items: center;
  }
  .shop-link-continue{
    width: 50%;
    margin-right: 5%;
    height: auto;
    font-size: 1.2vmax;
  }
  .shop-btn-continue{
    color: white;
    border:3px solid var(--green);
    font-size: inherit;
    background-color: var(--green);
    width: inherit;
    height: inherit;
  }
  .shop-btn-continue:hover{
      background-color: inherit;
      color: var(--yellow);
      cursor: pointer;
  }
  .shop-footer-container  :nth-child(2){
     font-size: 1.2vmax;
     margin-left: 50%;
    
  }
  @media (max-width :768px ) and (orientation:portrait){
    .product-container{
        flex-direction: column;
    }
    .item-container{
        width: 80%;
    }
  }