:root{
    --green:#2FE92B;
    --black:#0F0F0F;
    --yellow:#e1bb23;
    --red:#c92228;
    }
.checkout-page-container{
    direction: rtl;
    display: flex;
}

.checkout-page-form{
    direction: rtl;
    width: 50%;
    margin: 2% 1% 0% 0%;
}
.checkout-page-cart{
    margin: 2% 1% 0% 1%;
    direction: rtl;
    width: 50%;
    background-color: ivory;
    
}
@media (max-width:768px) and (orientation : portrait){
    .checkout-page-container{
        flex-direction: column;
    }
    .checkout-page-form{
        width: 100%;
        margin: 0;
    }
    .checkout-page-cart{
        margin: 0% 0% 0% 2%;
        width: 100%;
    }


}
.checkout-page-cart-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.checkout-page-post-dicount-code{
    background-color: var(--green);
    border:1px solid var(--green);
    color:white;
    font-size:1.2vmax;
    width: 10%;
    cursor: pointer;
    margin-right: 5%;
    margin-top: 1%;
}
.checkout-page-form{
    display: flex;
    flex-direction: column;
    font-size: 1.5vmax;
}
.checkout-page-form > input{
    font-size: 1.3vmax;
}
.checkout-page-form-city-hint{
opacity: .5;
}

